//custom css goes here

/*

Contents
================================

1. Imports
2. Navigation
3. Pages
4. Shared Styles

================================

*/

// 1. Imports
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// 2. Navigation
// --------------------------------------------------

.social {
	background-color:#2980b9;
	font-size:20px;
	overflow:hidden;
	ul {
		list-style: none;
		padding-top: 5px;
		padding-bottom:5px;
		float: right;
		margin-bottom:0;
		margin-right:6%; 
		li {
			display: inline;
			padding-right: 10px;
			a {
				color: #FFF;
			}
		}
	}
}

#main-nav {
	margin-right:5%;
	font-family: 'Pathway Gothic One';
	
}

.navbar-default {
	border-color: #CCC;
}

.navbar-default .navbar-nav>li>a  {
	font-size:28px;
	color:#000;
}

.navbar-fixed-top {
	border-width: 0 0 5px;
}

.navbar-nav>li {
	padding: 10px 5px;
		-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	&:hover {
		background-color: #2980b9;
		a {
			color:#FFF;

			&:hover {
				color: #FFF;
			}
		}
	}
}

.activeMenu {
	background-color: #2980b9;
	a {
		color:#FFF !important;
	}
}

.navbar-brand {
	max-height:70px;
	margin-left:50%;
	padding:0;
	img {
		max-height: 80%;
		margin-top: 5%;
	}
}

header {
	margin-top:113px;
}

// 3. Pages
// --------------------------------------------------

//Index page

.cover-image {
	background: url(../img/front-image.jpg) no-repeat center top;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFF;
}

#cover-image-text {
	color:#FFF;
	text-align:center;

	h1, h2, h3 {
		margin:0;
		padding: 0;
	}

	h1 {
		color: #34495e;
		font-size: 1000%;
		margin-top:20%;
		text-decoration: underline;
	}

	h2 {
		color: #34495e;
		font-size: 500%;
		margin-bottom: 20px;
		text-decoration: underline;
	}

	.button {
		margin-top: 30px;
		margin-right: 10px;
		padding: 14px 26px;
		font-size: 28px;
		line-height: 100%;
		text-shadow: 0 1px rgba(0, 0, 0, 0.4);
		color: #fff;
		display:inline-block;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		transition: background 0.1s ease-in-out;
		-webkit-transition: background 0.1s ease-in-out;
		-moz-transition: background 0.1s ease-in-out;
		-ms-transition: background 0.1s ease-in-out;
		-o-transition: background 0.1s ease-in-out;
		text-shadow: 0 1px rgba(0, 0, 0, 0.3);
		color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-family: 'Pathway Gothic One';
		background-color: #2ecc71;
		box-shadow: 0px 3px 0px 0px #27ae60;
	}
}

#map {
	background-color:#2ecc71;
	padding:20px 0;
	text-align:center;

	h1, h2 {
		display: inline-block;
		padding:20px;
		margin-top: 30px;
	}

	h1 {
		font-size: 500%
	}

	h2 {
		font-size: 250%
	}
}


.aboutus {
	text-align:center;
	background-color: rgb(190, 85, 85);
	img {
		width: 100%;
		clip-path: circle(50%,50%,40%);
		-webkit-clip-path: circle(50%,50%,40%);
	}

	.col-sm-3 {
		margin: 20px 0;
	}

	p {
		color: #8d8d8d;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	}

	h3 {
		margin-top:0; 
	}
}
// 4. Shared Styles
// --------------------------------------------------

h1, h2, h3, h4, {
	font-family: 'Pathway Gothic One';
}