<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - 1st Bedworth 100 miles</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- chrome frame -->
		<meta name="viewport" content="user-scalable=no"> <!-- prevents browser zoom on small devices -->
		<link rel="author" href="humans.txt">
		<meta name="description" content="1st Bedworth does 100 miles">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/styles.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="ico/favicon.png">	    
	</head>
	<body>
    <nav  class="navbar navbar-default navbar-fixed-top" role="navigation">
    	<div class="social">
    		<ul>
    			<li><a href="http://facebook.com/1stbedworth"><i class="fa fa-facebook-square"></i></a></li>
    			<li><a href="http://twitter.com/1stbedworth"><i class="fa fa-twitter-square"></i></a></li>
    			<!-- <li><a href=""><i class="fa fa-gbp"></i></a></li> -->
    		</ul>
    	</div>
        <div class="nav-inner">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/img/header/default-logo.png" alt=""></a>
            </div>
         <div class="collapse navbar-collapse navbar-right" id="main-nav">
            <ul class="nav navbar-nav navbar-right">
                 <li><a  id="cover-image" href="#">Home</a></li>
                 <li><a id="map"href="/#map">The Trek</a></li>
                 <li><a id="why" href="/#why">Why?</a></li>
                 <li><a id="who" href="/#who">Who?</a></li>
                 <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </nav>

	<header role="banner">

	</header>

	{{ content }}


	<footer role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<h4>Developed &amp; Designed by <a href="http://clarkieryan.com">clarkieRyan.</a></h4>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>if (!window.jQuery) {document.write('<script src="/js/jquery.min.js"><\/script>');}</script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/js/scripts.min.js"></script>
	<script src="/js/smints.js"></script>

    <script>
		// analytics code
    </script>	
	<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>